/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-hon-primitive-color-white-100: #ffffff;
  --color-hon-primitive-color-white-50-op: #ffffff80;
  --color-hon-primitive-color-white-20-op: #ffffff33;
  --color-hon-primitive-color-white-10-op: #ffffff1a;
  --color-hon-primitive-color-white-0-op: #ffffff00;
  --color-hon-primitive-color-black-100: #313131;
  --color-hon-primitive-color-black-50-op: #31313180;
  --color-hon-primitive-color-black-20-op: #31313133;
  --color-hon-primitive-color-black-10-op: #3131311a;
  --color-hon-primitive-color-black-0-op: #31313100;
  --color-hon-primitive-color-sand-100: #dedcd1;
  --color-hon-primitive-color-grey-100: #6e6e6e;
  --color-hon-primitive-color-grey-80: #b0b0b0;
  --color-hon-primitive-color-grey-60: #dadada;
  --color-hon-primitive-color-grey-40: #f4f4f4;
  --color-hon-primitive-color-grey-20: #fefcfc;
  --color-hon-primitive-color-blue-100: #0a648b;
  --color-hon-primitive-color-grey-10-op: #6e6e6e1a;
  --color-hon-primitive-color-grey-0-op: #6e6e6e00;
  --color-hon-primitive-color-blue-80: #258bb7;
  --color-hon-primitive-color-blue-60: #28abe3;
  --color-hon-primitive-color-blue-40: #7cb9d4;
  --color-hon-primitive-color-blue-20: #c3deea;
  --color-hon-primitive-color-blue-10: #f3f9fb;
  --color-hon-primitive-color-blue-10-op: #0a648b1a;
  --color-hon-primitive-color-blue-0-op: #0a648b00;
  --color-hon-primitive-color-sand-80: #e4e3d9;
  --color-hon-primitive-color-sand-60: #edece8;
  --color-hon-primitive-color-sand-40: #f4f3ef;
  --color-hon-primitive-color-sand-20: #faf9f7;
  --color-hon-primitive-color-azure-100: #1e90ff;
  --color-hon-primitive-color-azure-80: #57acff;
  --color-hon-primitive-color-azure-60: #70d6ff;
  --color-hon-primitive-color-azure-40: #bbddff;
  --color-hon-primitive-color-azure-20: #d9e6f8;
  --color-hon-primitive-color-azure-0-op: #1e90ff00;
  --color-hon-primitive-color-cyan-100: #40e0d0;
  --color-hon-primitive-color-cyan-50: #9fefe7;
  --color-hon-primitive-color-cyan-20: #d9f9f6;
  --color-hon-primitive-color-eco-100: #008000;
  --color-hon-primitive-color-eco-80: #339933;
  --color-hon-primitive-color-eco-60: #66b266;
  --color-hon-primitive-color-eco-40: #99cc99;
  --color-hon-primitive-color-eco-20: #cce5cc;
  --color-hon-primitive-color-eco-10: #e5f2e5;
  --color-hon-primitive-color-eco-0-op: #00800000;
  --color-hon-primitive-color-green-100: #006008;
  --color-hon-primitive-color-orange-100: #c35c22;
  --color-hon-primitive-color-orange-50: #ffa448;
  --color-hon-primitive-color-orange-20: #ffe4b2;
  --color-hon-primitive-color-orange-0-op: #ff784400;
  --color-hon-primitive-color-green-80: #33c833;
  --color-hon-primitive-color-green-60: #47d96c;
  --color-hon-primitive-color-green-40: #59de70;
  --color-hon-primitive-color-green-20: #bdf2c6;
  --color-hon-primitive-color-green-10: #d8e7da;
  --color-hon-primitive-color-green-0-op: #00600800;
  --color-hon-primitive-color-yellow-100: #9a6000;
  --color-hon-primitive-color-red-100: #9e0000;
  --color-hon-primitive-color-pink-100: #ff70a6;
  --color-hon-primitive-color-pink-50: #ffb7d2;
  --color-hon-primitive-color-pink-20: #ffe2ed;
  --color-hon-primitive-color-pink-0-op: #ff70a600;
  --color-hon-primitive-color-red-80: #d71618;
  --color-hon-primitive-color-red-60: #ff3434;
  --color-hon-primitive-color-red-50: #f9645e;
  --color-hon-primitive-color-red-40: #ffaeae;
  --color-hon-primitive-color-red-20: #f0d8d8;
  --color-hon-primitive-color-red-10-op: #9e00001a;
  --color-hon-primitive-color-red-0-op: #9e000000;
  --color-hon-primitive-color-yellow-50: #ffd748;
  --color-hon-primitive-color-yellow-20: #fff4d3;
  --color-hon-primitive-color-yellow-0-op: #ffb00000;
  --color-hon-primitive-color-magenta-100: #f270ff;
  --color-hon-primitive-color-magenta-50: #f8b7ff;
  --color-hon-primitive-color-magenta-20: #fce2ff;
  --color-hon-primitive-color-magenta-0-op: #f270ff00;
  --color-hon-primitive-color-grape-100: #940b82;
  --color-hon-primitive-color-cyan-0-op: #40e0d000;
  --color-hon-primitive-color-sand-0-op: #dedcd100;
  --color-hon-primitive-color-purple-100: #8a2be2;
  --color-hon-primitive-color-purple-50: #c495f0;
  --color-hon-primitive-color-grape-50: #bc0d89;
  --color-hon-primitive-color-purple-20: #dcbff6;
  --color-hon-primitive-color-purple-0-op: #8a2be200;
  --color-hon-primitive-color-grape-20: #eacee6;
  --color-hon-primitive-color-grape-0-op: #960d8400;
  --color-hon-components-item-background-selected: #c3deea;
  --color-hon-components-wheel-picker-cell-selected: #0a648b;
  --color-hon-components-appliance-card-text-brand-color: #0a648b;
  --color-hon-components-tabs-item-color-foreground-selected: #0a648b;
  --color-hon-primitive-color-orange-80: #ff7844;
  --color-hon-primitive-color-yellow-80: #ffb000;
  --color-hon-semantic-color-surface-high: var(--color-hon-primitive-color-sand-80);
  --color-hon-semantic-color-on-surface-primary: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-accent-primary: var(--color-hon-primitive-color-blue-100);
  --color-hon-semantic-color-on-accent-primary: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-on-accent-primary: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-on-accent-tertiary: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-on-accent-secondary: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-on-accent-tertiary: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-accent-secondary: var(--color-hon-primitive-color-azure-20);
  --color-hon-semantic-color-indicator-secondary: var(--color-hon-primitive-color-blue-40);
  --color-hon-semantic-color-indicator-tertiary: var(--color-hon-primitive-color-blue-20);
  --color-hon-semantic-color-accent-tertiary: var(--color-hon-primitive-color-blue-10);
  --color-hon-semantic-color-on-surface-secondary: var(--color-hon-primitive-color-grey-100);
  --color-hon-semantic-color-on-surface-muted: var(--color-hon-primitive-color-grey-60);
  --color-hon-semantic-color-on-surface-inverse: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-stroke-outline-primary: var(--color-hon-primitive-color-grey-80);
  --color-hon-semantic-color-stroke-outline-secondary: var(--color-hon-primitive-color-grey-60);
  --color-hon-semantic-color-stroke-divider-primary: var(--color-hon-primitive-color-grey-60);
  --color-hon-semantic-color-stroke-divider-secondary: var(--color-hon-primitive-color-grey-40);
  --color-hon-semantic-color-elevation-scrim: var(--color-hon-primitive-color-black-50-op);
  --color-hon-semantic-color-elevation-shadow-high: var(--color-hon-primitive-color-black-50-op);
  --color-hon-semantic-color-state-hidden: var(--color-hon-primitive-color-white-0-op);
  --color-hon-semantic-color-state-layer-dark: var(--color-hon-primitive-color-black-10-op);
  --color-hon-semantic-color-theme-eco: var(--color-hon-primitive-color-eco-100);
  --color-hon-semantic-color-theme-on-eco: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-theme-eco-container: var(--color-hon-primitive-color-eco-20);
  --color-hon-semantic-color-theme-on-eco-container: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-temperature-cool-container: var(--color-hon-primitive-color-blue-40);
  --color-hon-semantic-color-statistics-general-energy: var(--color-hon-primitive-color-green-80);
  --color-hon-semantic-color-statistics-general-detergent: var(--color-hon-primitive-color-pink-100);
  --color-hon-semantic-color-statistics-general-empty-state: var(--color-hon-primitive-color-grey-60);
  --color-hon-semantic-color-statistics-load-primary: var(--color-hon-primitive-color-purple-100);
  --color-hon-semantic-color-statistics-load-secondary: var(--color-hon-primitive-color-purple-20);
  --color-hon-semantic-color-statistics-water-primary: var(--color-hon-primitive-color-azure-100);
  --color-hon-semantic-color-statistics-water-secondary: var(--color-hon-primitive-color-azure-40);
  --color-hon-semantic-color-statistics-energy-level-1-solid: var(--color-hon-primitive-color-green-60);
  --color-hon-semantic-color-statistics-energy-level-1-fade: var(--color-hon-primitive-color-green-0-op);
  --color-hon-semantic-color-statistics-energy-level-2-solid: var(--color-hon-primitive-color-yellow-50);
  --color-hon-semantic-color-statistics-energy-level-2-fade: var(--color-hon-primitive-color-yellow-0-op);
  --color-hon-semantic-color-statistics-energy-level-3-solid: var(--color-hon-primitive-color-orange-80);
  --color-hon-semantic-color-statistics-energy-level-3-fade: var(--color-hon-primitive-color-orange-0-op);
  --color-hon-semantic-color-statistics-energy-level-4-solid: var(--color-hon-primitive-color-grape-50);
  --color-hon-semantic-color-statistics-energy-level-4-fade: var(--color-hon-primitive-color-grape-0-op);
  --color-hon-semantic-color-statistics-temperature-min: var(--color-hon-primitive-color-azure-60);
  --color-hon-semantic-color-statistics-temperature-mid: var(--color-hon-primitive-color-yellow-50);
  --color-hon-semantic-color-statistics-temperature-max: var(--color-hon-primitive-color-orange-80);
  --color-hon-semantic-color-statistics-time-duration-primary: var(--color-hon-primitive-color-orange-50);
  --color-hon-semantic-color-statistics-time-duration-secondary: var(--color-hon-primitive-color-orange-20);
  --color-hon-semantic-color-statistics-other-primary: var(--color-hon-primitive-color-cyan-100);
  --color-hon-semantic-color-statistics-other-secondary: var(--color-hon-primitive-color-magenta-100);
  --color-hon-semantic-color-temperature-cool: var(--color-hon-primitive-color-blue-80);
  --color-hon-semantic-color-temperature-warm-container: var(--color-hon-primitive-color-red-50);
  --color-hon-semantic-color-temperature-warm: var(--color-hon-primitive-color-red-80);
  --color-hon-semantic-color-severity-high: var(--color-hon-primitive-color-red-80);
  --color-hon-semantic-color-severity-medium: var(--color-hon-primitive-color-yellow-80);
  --color-hon-semantic-color-severity-low: var(--color-hon-primitive-color-green-80);
  --color-hon-semantic-color-sentiment-positive: var(--color-hon-primitive-color-green-100);
  --color-hon-semantic-color-sentiment-neutral-positive: var(--color-hon-primitive-color-yellow-80);
  --color-hon-semantic-color-sentiment-neutral-negative: var(--color-hon-primitive-color-orange-80);
  --color-hon-semantic-color-sentiment-negative: var(--color-hon-primitive-color-red-80);
  --color-hon-semantic-color-appliance-status-remote-control-off-container: var(--color-hon-primitive-color-grey-60);
  --color-hon-semantic-color-appliance-status-remote-control-on-container: var(--color-hon-primitive-color-green-20);
  --color-hon-semantic-color-appliance-status-error: var(--color-hon-primitive-color-red-80);
  --color-hon-semantic-color-theme-premium: var(--color-hon-primitive-color-grape-100);
  --color-hon-semantic-color-theme-on-premium: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-state-layer-neutral: var(--color-hon-primitive-color-grey-10-op);
  --color-hon-semantic-color-theme-premium-container: var(--color-hon-primitive-color-grape-20);
  --color-hon-semantic-color-state-layer-light: var(--color-hon-primitive-color-white-20-op);
  --color-hon-semantic-color-theme-on-premium-container: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-theme-rapid: var(--color-hon-primitive-color-yellow-80);
  --color-hon-semantic-color-state-layer-indicator: var(--color-hon-primitive-color-blue-10-op);
  --color-hon-semantic-color-theme-on-rapid: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-state-layer-danger: var(--color-hon-primitive-color-red-10-op);
  --color-hon-semantic-color-theme-favorite: var(--color-hon-primitive-color-red-50);
  --color-hon-semantic-color-theme-on-favorite: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-state-success: var(--color-hon-primitive-color-green-80);
  --color-hon-semantic-color-state-on-success: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-state-success-container: var(--color-hon-primitive-color-green-10);
  --color-hon-semantic-color-state-on-success-container: var(--color-hon-primitive-color-green-100);
  --color-hon-semantic-color-state-warning: var(--color-hon-primitive-color-yellow-80);
  --color-hon-semantic-color-state-on-warning: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-state-error: var(--color-hon-primitive-color-red-80);
  --color-hon-semantic-color-state-on-error: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-elevation-shadow-low: var(--color-hon-primitive-color-black-20-op);
  --color-hon-semantic-color-surface-low: var(--color-hon-primitive-color-sand-40);
  --color-hon-semantic-color-surface-mid: var(--color-hon-primitive-color-sand-60);
  --color-hon-semantic-color-surface-container-low: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-surface-container-mid: var(--color-hon-primitive-color-grey-20);
  --color-hon-semantic-color-surface-container-high: var(--color-hon-primitive-color-grey-40);
  --color-hon-semantic-color-state-error-container: var(--color-hon-primitive-color-red-20);
  --color-hon-semantic-color-state-on-error-container: var(--color-hon-primitive-color-red-100);
  --color-hon-semantic-color-state-disabled: var(--color-hon-primitive-color-grey-80);
  --color-hon-semantic-color-state-on-disabled: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-state-disabled-container: var(--color-hon-primitive-color-grey-40);
  --color-hon-semantic-color-state-on-disabled-container: var(--color-hon-primitive-color-grey-100);
  --color-hon-semantic-color-state-selected-container: var(--color-hon-primitive-color-blue-20);
  --color-hon-semantic-color-on-indicator-tertiary: var(--color-hon-primitive-color-blue-100);
  --color-hon-semantic-color-surface-inverse: var(--color-hon-primitive-color-black-100);
  --color-hon-semantic-color-indicator-primary: var(--color-hon-primitive-color-blue-100);
  --color-hon-components-button-link-btn-color-enabled: var(--color-hon-semantic-color-indicator-primary);
  --color-hon-components-button-link-btn-color-pressed-state-layer: var(--color-hon-semantic-color-state-layer-light);
  --color-hon-components-button-link-btn-color-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-primary-brand-background-enabled: var(--color-hon-semantic-color-indicator-primary);
  --color-hon-components-button-style-primary-neutral-background-enabled: var(--color-hon-semantic-color-surface-inverse);
  --color-hon-components-button-style-primary-neutral-background-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-button-style-primary-neutral-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-light);
  --color-hon-components-button-style-primary-neutral-foreground-enabled: var(--color-hon-semantic-color-on-surface-inverse);
  --color-hon-components-button-style-primary-neutral-foreground-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-primary-neutral-stroke-disabled: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-semantic-color-on-indicator-primary: var(--color-hon-primitive-color-white-100);
  --color-hon-components-button-style-primary-brand-foreground-enabled: var(--color-hon-semantic-color-on-indicator-primary);
  --color-hon-components-button-style-primary-brand-background-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-button-style-primary-brand-foreground-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-primary-brand-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-light);
  --color-hon-components-button-style-primary-brand-stroke-disabled: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-button-style-secondary-background-enabled: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-button-style-secondary-foreground-enabled: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-button-style-secondary-stroke-disabled: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-button-style-secondary-background-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-button-style-secondary-foreground-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-secondary-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-dark);
  --color-hon-components-button-style-outlined-background-enabled: var(--color-hon-semantic-color-state-hidden);
  --color-hon-components-button-style-outlined-background-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-button-style-outlined-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-dark);
  --color-hon-components-button-style-outlined-foreground-enabled: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-button-style-outlined-foreground-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-outlined-stroke-disabled: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-button-style-outlined-stroke-enabled: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-button-style-ghost-background-enabled: var(--color-hon-semantic-color-state-hidden);
  --color-hon-components-button-style-danger-primary-background-enabled: var(--color-hon-semantic-color-state-error);
  --color-hon-components-button-style-danger-primary-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-light);
  --color-hon-components-button-style-danger-primary-background-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-button-style-danger-primary-foreground-enabled: var(--color-hon-semantic-color-state-on-error);
  --color-hon-components-button-style-danger-primary-foreground-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-danger-primary-stroke-disabled: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-button-style-danger-ghost-background-enabled: var(--color-hon-semantic-color-state-hidden);
  --color-hon-components-button-style-danger-ghost-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-danger);
  --color-hon-components-button-style-danger-ghost-background-disabled: var(--color-hon-semantic-color-state-hidden);
  --color-hon-components-button-style-danger-ghost-foreground-enabled: var(--color-hon-semantic-color-state-error);
  --color-hon-components-button-style-danger-ghost-foreground-disabled: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-button-style-ghost-background-pressed-state-layer: var(--color-hon-semantic-color-state-layer-dark);
  --color-hon-components-button-style-ghost-foreground-enabled: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-button-style-ghost-background-disabled: var(--color-hon-semantic-color-state-hidden);
  --color-hon-components-button-style-ghost-foreground-disabled: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-radio-checkbox-state-layer-enabled: var(--color-hon-semantic-color-state-layer-indicator);
  --color-hon-components-radio-checkbox-state-layer-disabled: var(--color-hon-semantic-color-state-layer-neutral);
  --color-hon-components-radio-checkbox-state-layer-error: var(--color-hon-semantic-color-state-layer-danger);
  --color-hon-components-radio-checkbox-color-selected-enabled: var(--color-hon-semantic-color-indicator-primary);
  --color-hon-components-radio-checkbox-color-selected-disabled: var(--color-hon-semantic-color-indicator-tertiary);
  --color-hon-components-radio-checkbox-color-unselected-enabled: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-radio-checkbox-color-unselected-disabled: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-chip-background-selected-enabled: var(--color-hon-semantic-color-indicator-tertiary);
  --color-hon-components-chip-background-selected-pressed-state-layer: var(--color-hon-semantic-color-state-layer-indicator);
  --color-hon-components-chip-background-selected-disabled-state-layer: var(--color-hon-semantic-color-state-layer-dark);
  --color-hon-components-chip-background-selected-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-chip-background-unselected-enabled: var(--color-hon-semantic-color-surface-high);
  --color-hon-components-chip-background-unselected-pressed-state-layer: var(--color-hon-semantic-color-state-layer-dark);
  --color-hon-components-chip-background-unselected-disabled: var(--color-hon-semantic-color-state-disabled-container);
  --color-hon-components-item-text-color-category: var(--color-hon-semantic-color-on-surface-secondary);
  --color-hon-components-item-text-color-title-default: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-item-text-color-title-danger: var(--color-hon-semantic-color-state-error);
  --color-hon-components-item-text-color-feedback: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-item-text-color-description: var(--color-hon-semantic-color-on-surface-secondary);
  --color-hon-components-item-background-default: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-item-background-contained: var(--color-hon-semantic-color-surface-container-high);
  --color-hon-components-item-icon-active: var(--color-hon-semantic-color-accent-secondary);
  --color-hon-components-item-icon-default: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-item-icon-disabled: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-wheel-picker-cell-unselected: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-wheel-picker-cell-label: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-wheel-picker-input-background: var(--color-hon-semantic-color-surface-mid);
  --color-hon-components-program-item-tag-stroke-color: var(--color-hon-semantic-color-stroke-outline-primary);
  --color-hon-components-program-item-description-separator-color: var(--color-hon-semantic-color-on-surface-secondary);
  --color-hon-components-item-message-text: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-item-message-background: var(--color-hon-semantic-color-surface-container-high);
  --color-hon-components-item-list-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-toggle-thumb-color-default: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-toggle-thumb-color-pressed-selected: var(--color-hon-semantic-color-indicator-secondary);
  --color-hon-components-toggle-thumb-color-pressed-unselected: var(--color-hon-semantic-color-surface-low);
  --color-hon-components-toggle-track-unselected-enabled: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-toggle-track-unselected-disabled: var(--color-hon-semantic-color-on-surface-muted);
  --color-hon-components-toggle-track-unselected-state-layer: var(--color-hon-semantic-color-state-layer-neutral);
  --color-hon-components-toggle-track-selected-enabled: var(--color-hon-semantic-color-indicator-primary);
  --color-hon-components-toggle-track-selected-disabled: var(--color-hon-semantic-color-indicator-tertiary);
  --color-hon-components-toggle-track-selected-state-layer: var(--color-hon-semantic-color-state-layer-indicator);
  --color-hon-components-loader-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-vertical-slider-track-color: var(--color-hon-semantic-color-surface-mid);
  --color-hon-components-vertical-slider-thumb-cool: var(--color-hon-semantic-color-temperature-cool-container);
  --color-hon-components-vertical-slider-thumb-heat: var(--color-hon-semantic-color-temperature-warm-container);
  --color-hon-components-vertical-slider-handle-color: var(--color-hon-semantic-color-surface-mid);
  --color-hon-components-time-slots-panel-item-background: var(--color-hon-semantic-color-surface-container-high);
  --color-hon-components-time-slots-panel-item-add-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-time-slots-panel-item-add-stroke: var(--color-hon-semantic-color-stroke-divider-secondary);
  --color-hon-components-appliance-card-icon-status-remote-control-on: var(--color-hon-semantic-color-appliance-status-remote-control-on-container);
  --color-hon-components-appliance-card-icon-status-remote-control-off: var(--color-hon-semantic-color-appliance-status-remote-control-off-container);
  --color-hon-components-appliance-card-icon-status-offline: var(--color-hon-semantic-color-state-disabled);
  --color-hon-semantic-color-appliance-status-error-container: var(--color-hon-primitive-color-red-40);
  --color-hon-components-appliance-card-icon-status-error: var(--color-hon-semantic-color-appliance-status-error-container);
  --color-hon-components-appliance-card-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-bottom-bar-item-background-selected-enabled: var(--color-hon-semantic-color-indicator-tertiary);
  --color-hon-components-bottom-bar-item-background-selected-pressed-state-layer: var(--color-hon-semantic-color-state-layer-indicator);
  --color-hon-components-bottom-bar-item-background-unselected-enabled: var(--color-hon-semantic-color-state-hidden);
  --color-hon-components-bottom-bar-item-background-unselected-pressed-state-layer: var(--color-hon-semantic-color-state-layer-neutral);
  --color-hon-components-bottom-bar-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-bottom-bar-stroke-color: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-bottom-bar-item-foreground-selected: var(--color-hon-semantic-color-on-indicator-tertiary);
  --color-hon-components-bottom-bar-item-foreground-unselected: var(--color-hon-components-button-style-primary-brand-foreground-disabled);
  --color-hon-components-top-bar-button-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-top-bar-button-foreground: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-top-bar-dropdown-menu-dot-background-remote-control-on: var(--color-hon-semantic-color-state-success);
  --color-hon-components-top-bar-dropdown-menu-dot-background-remote-control-off: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-top-bar-dropdown-menu-dot-background-offline: var(--color-hon-semantic-color-surface-inverse);
  --color-hon-components-top-bar-dropdown-menu-dot-background-error: var(--color-hon-semantic-color-state-error);
  --color-hon-components-top-bar-dropdown-menu-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-progress-stepper-active: var(--color-hon-semantic-color-indicator-primary);
  --color-hon-components-progress-stepper-inactive: var(--color-hon-semantic-color-on-surface-muted);
  --color-hon-components-top-bar-dropdown-menu-dot-stroke-color: var(--color-hon-semantic-color-surface-inverse);
  --color-hon-components-program-item-favicon-stroke-color: var(--color-hon-semantic-color-stroke-outline-primary);
  --color-hon-components-card-item-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-program-item-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-search-field-search-bar-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-search-field-search-bar-foreground-active: var(--color-hon-semantic-color-on-surface-primary);
  --color-hon-components-search-field-search-bar-foreground-focused: var(--color-hon-semantic-color-on-surface-muted);
  --color-hon-components-tabs-background: var(--color-hon-semantic-color-surface-low);
  --color-hon-components-tabs-item-state-layer-selected: var(--color-hon-semantic-color-state-layer-indicator);
  --color-hon-components-tabs-item-state-layer-unselected: var(--color-hon-semantic-color-state-layer-dark);
  --color-hon-components-tabs-item-color-foreground-unselected: var(--color-hon-semantic-color-state-on-disabled-container);
  --color-hon-components-statistics-card-empty-state-container-background: var(--color-hon-semantic-color-accent-tertiary);
  --color-hon-components-statistics-card-empty-state-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-statistics-card-background: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-item-icon-dot-empty: var(--color-hon-semantic-color-severity-high);
  --color-hon-components-item-icon-dot-almost-empty: var(--color-hon-semantic-color-severity-medium);
  --color-hon-components-bottom-sheet-modal-handle-color: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-bottom-sheet-navbar-handle-color: var(--color-hon-semantic-color-stroke-outline-secondary);
  --color-hon-components-radio-checkbox-color-error-enabled: var(--color-hon-semantic-color-state-error);
  --color-hon-components-radio-checkbox-color-error-disabled: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-page-control-active-background: var(--color-hon-semantic-color-accent-primary);
  --color-hon-components-page-control-inactive-background: var(--color-hon-semantic-color-surface-high);
  --color-hon-components-scroll-bar-track-color: var(--color-hon-semantic-color-state-disabled);
  --color-hon-components-scroll-bar-fill-color: var(--color-hon-semantic-color-accent-secondary);
  --color-hon-components-horizontal-slider-step-indicator-color: var(--color-hon-semantic-color-stroke-outline-primary);
  --color-hon-semantic-color-on-indicator-secondary: var(--color-hon-primitive-color-blue-100);
  --color-hon-semantic-color-accent-primary: var(--color-hon-primitive-color-blue-80);
  --color-hon-semantic-color-appliance-status-remote-control-off: var(--color-hon-primitive-color-grey-100);
  --color-hon-semantic-color-appliance-status-offline-fill: var(--color-hon-primitive-color-white-100);
  --color-hon-semantic-color-appliance-status-offline-stroke: var(--color-hon-primitive-color-grey-100);
  --color-hon-semantic-color-appliance-status-remote-control-on: var(--color-hon-primitive-color-green-80);
  --color-hon-semantic-color-state-warning-container: var(--color-hon-primitive-color-yellow-20);
  --color-hon-semantic-color-state-on-warning-container: var(--color-hon-primitive-color-yellow-100);
  --color-hon-components-badge-background: var(--color-hon-semantic-color-accent-primary);
  --color-hon-components-horizontal-slider-fill: var(--color-hon-semantic-color-indicator-primary);
  --color-hon-components-horizontal-slider-state-layer-color: var(--color-hon-semantic-color-state-layer-indicator);
  --color-hon-components-horizontal-slider-track: var(--color-hon-semantic-color-indicator-tertiary);
  --color-hon-components-segmented-control-bg-on-surface: var(--color-hon-semantic-color-surface-container-low);
  --color-hon-components-segmented-control-bg-on-container: var(--color-hon-semantic-color-surface-container-high);
  --color-hon-components-segmented-control-separator-color: var(--color-hon-semantic-color-stroke-divider-primary);
}