/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimension-hon-pri-dimension-0: 0px;
  --dimension-hon-pri-dimension-1: 1px;
  --dimension-hon-pri-dimension-2: 2px;
  --dimension-hon-pri-dimension-4: 4px;
  --dimension-hon-pri-dimension-6: 6px;
  --dimension-hon-pri-dimension-8: 8px;
  --dimension-hon-pri-dimension-10: 10px;
  --dimension-hon-pri-dimension-12: 12px;
  --dimension-hon-pri-dimension-14: 14px;
  --dimension-hon-pri-dimension-16: 16px;
  --dimension-hon-pri-dimension-18: 18px;
  --dimension-hon-pri-dimension-20: 20px;
  --dimension-hon-pri-dimension-24: 24px;
  --dimension-hon-pri-dimension-28: 28px;
  --dimension-hon-pri-dimension-32: 32px;
  --dimension-hon-pri-dimension-36: 36px;
  --dimension-hon-pri-dimension-40: 40px;
  --dimension-hon-pri-dimension-44: 44px;
  --dimension-hon-pri-dimension-48: 48px;
  --dimension-hon-pri-dimension-52: 52px;
  --dimension-hon-pri-dimension-56: 56px;
  --dimension-hon-pri-dimension-60: 60px;
  --dimension-hon-pri-dimension-64: 64px;
  --dimension-hon-pri-dimension-88: 88px;
  --dimension-hon-pri-dimension-96: 96px;
  --dimension-hon-pri-dimension-100: 100px;
  --dimension-hon-pri-dimension-120: 120px;
  --dimension-hon-pri-dimension-128: 128px;
  --dimension-hon-pri-dimension-136: 136px;
  --dimension-hon-pri-dimension-140: 140px;
  --dimension-hon-pri-dimension-152: 152px;
  --dimension-hon-pri-dimension-156: 156px;
  --dimension-hon-pri-dimension-160: 160px;
  --dimension-hon-pri-dimension-176: 176px;
  --dimension-hon-pri-dimension-192: 192px;
  --dimension-hon-pri-dimension-200: 200px;
  --dimension-hon-pri-dimension-212: 212px;
  --dimension-hon-pri-dimension-222: 222px;
  --dimension-hon-pri-dimension-240: 240px;
  --dimension-hon-pri-dimension-256: 256px;
  --dimension-hon-pri-dimension-258: 258px;
  --dimension-hon-pri-dimension-260: 260px;
  --dimension-hon-pri-dimension-268: 268px;
  --dimension-hon-pri-dimension-272: 272px;
  --dimension-hon-pri-dimension-285: 285px;
  --dimension-hon-pri-dimension-296: 296px;
  --dimension-hon-pri-dimension-304: 304px;
  --dimension-hon-pri-dimension-312: 312px;
  --dimension-hon-pri-dimension-328: 328px;
  --dimension-hon-pri-dimension-360: 360px;
  --dimension-hon-primitive-dimension-644: 644px;
  --dimension-hon-pri-dimension-780: 780px;
  --dimension-hon-pri-font-letter-spacing-sm: -0.16px;
  --dimension-hon-pri-font-letter-spacing-lg: 0.16px;
  --dimension-hon-comp-bottom-sheet-min-width: 360px;
  --dimension-hon-comp-popup-max-height: 566px;
  --dimension-hon-pri-font-letter-spacing-md: var(--dimension-hon-pri-dimension-0);
  --dimension-hon-pri-font-size-xxs: var(--dimension-hon-pri-dimension-10);
  --dimension-hon-pri-font-size-xs: var(--dimension-hon-pri-dimension-12);
  --dimension-hon-pri-font-size-sm: var(--dimension-hon-pri-dimension-14);
  --dimension-hon-pri-font-size-md: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-pri-font-size-lg: var(--dimension-hon-pri-dimension-20);
  --dimension-hon-pri-font-size-xl: var(--dimension-hon-pri-dimension-24);
  --dimension-hon-pri-font-size-xxl: var(--dimension-hon-pri-dimension-28);
  --dimension-hon-pri-font-size-xxxl: var(--dimension-hon-pri-dimension-32);
  --dimension-hon-pri-font-line-height-xxs: var(--dimension-hon-pri-dimension-12);
  --dimension-hon-pri-font-line-height-xs: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-pri-font-line-height-sm: var(--dimension-hon-pri-dimension-20);
  --dimension-hon-pri-font-line-height-md: var(--dimension-hon-pri-dimension-24);
  --dimension-hon-pri-font-line-height-lg: var(--dimension-hon-pri-dimension-28);
  --dimension-hon-pri-font-line-height-xl: var(--dimension-hon-pri-dimension-32);
  --dimension-hon-pri-font-line-height-xxl: var(--dimension-hon-pri-dimension-36);
  --dimension-hon-pri-font-line-height-xxxl: var(--dimension-hon-pri-dimension-44);
  --dimension-hon-sem-grid-columns-count: var(--dimension-hon-pri-dimension-8);
  --dimension-hon-sem-grid-columns-gutter: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-sem-grid-columns-margin: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-sem-grid-rows-gutter: var(--dimension-hon-pri-dimension-4);
  --dimension-hon-sem-grid-rows-offset: var(--dimension-hon-pri-dimension-0);
  --dimension-hon-sem-grid-rows-height: var(--dimension-hon-pri-dimension-4);
  --dimension-hon-sem-size-4: var(--dimension-hon-pri-dimension-4);
  --dimension-hon-sem-size-8: var(--dimension-hon-pri-dimension-8);
  --dimension-hon-sem-size-12: var(--dimension-hon-pri-dimension-12);
  --dimension-hon-sem-size-16: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-sem-size-20: var(--dimension-hon-pri-dimension-20);
  --dimension-hon-sem-size-24: var(--dimension-hon-pri-dimension-24);
  --dimension-hon-sem-size-28: var(--dimension-hon-pri-dimension-28);
  --dimension-hon-sem-size-32: var(--dimension-hon-pri-dimension-32);
  --dimension-hon-sem-size-36: var(--dimension-hon-pri-dimension-36);
  --dimension-hon-sem-size-40: var(--dimension-hon-pri-dimension-40);
  --dimension-hon-sem-size-44: var(--dimension-hon-pri-dimension-44);
  --dimension-hon-sem-size-48: var(--dimension-hon-pri-dimension-48);
  --dimension-hon-sem-size-52: var(--dimension-hon-pri-dimension-52);
  --dimension-hon-sem-size-56: var(--dimension-hon-pri-dimension-56);
  --dimension-hon-sem-size-60: var(--dimension-hon-pri-dimension-60);
  --dimension-hon-sem-size-64: var(--dimension-hon-pri-dimension-64);
  --dimension-hon-sem-size-88: var(--dimension-hon-pri-dimension-88);
  --dimension-hon-sem-size-96: var(--dimension-hon-pri-dimension-96);
  --dimension-hon-sem-size-120: var(--dimension-hon-pri-dimension-120);
  --dimension-hon-sem-size-128: var(--dimension-hon-pri-dimension-128);
  --dimension-hon-sem-size-136: var(--dimension-hon-pri-dimension-136);
  --dimension-hon-sem-size-140: var(--dimension-hon-pri-dimension-140);
  --dimension-hon-sem-size-152: var(--dimension-hon-pri-dimension-152);
  --dimension-hon-sem-size-156: var(--dimension-hon-pri-dimension-156);
  --dimension-hon-sem-size-160: var(--dimension-hon-pri-dimension-160);
  --dimension-hon-sem-size-176: var(--dimension-hon-pri-dimension-176);
  --dimension-hon-sem-size-192: var(--dimension-hon-pri-dimension-192);
  --dimension-hon-sem-size-200: var(--dimension-hon-pri-dimension-200);
  --dimension-hon-sem-size-212: var(--dimension-hon-pri-dimension-212);
  --dimension-hon-sem-size-222: var(--dimension-hon-pri-dimension-222);
  --dimension-hon-sem-size-240: var(--dimension-hon-pri-dimension-240);
  --dimension-hon-sem-size-256: var(--dimension-hon-pri-dimension-256);
  --dimension-hon-sem-size-258: var(--dimension-hon-pri-dimension-258);
  --dimension-hon-sem-size-260: var(--dimension-hon-pri-dimension-260);
  --dimension-hon-sem-size-268: var(--dimension-hon-pri-dimension-268);
  --dimension-hon-sem-size-272: var(--dimension-hon-pri-dimension-272);
  --dimension-hon-sem-size-285: var(--dimension-hon-pri-dimension-285);
  --dimension-hon-sem-size-296: var(--dimension-hon-pri-dimension-296);
  --dimension-hon-sem-size-304: var(--dimension-hon-pri-dimension-304);
  --dimension-hon-sem-size-312: var(--dimension-hon-pri-dimension-312);
  --dimension-hon-sem-size-328: var(--dimension-hon-pri-dimension-328);
  --dimension-hon-sem-size-360: var(--dimension-hon-pri-dimension-360);
  --dimension-hon-sem-size-780: var(--dimension-hon-pri-dimension-780);
  --dimension-hon-sem-spacing-none: var(--dimension-hon-pri-dimension-0);
  --dimension-hon-sem-icon-xs: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-sem-icon-sm: var(--dimension-hon-pri-dimension-24);
  --dimension-hon-sem-icon-md: var(--dimension-hon-pri-dimension-32);
  --dimension-hon-sem-icon-lg: var(--dimension-hon-pri-dimension-40);
  --dimension-hon-sem-illustration-md: var(--dimension-hon-pri-dimension-64);
  --dimension-hon-sem-illustration-lg: var(--dimension-hon-pri-dimension-152);
  --dimension-hon-sem-spacing-2: var(--dimension-hon-pri-dimension-2);
  --dimension-hon-sem-spacing-4: var(--dimension-hon-pri-dimension-4);
  --dimension-hon-sem-spacing-6: var(--dimension-hon-pri-dimension-6);
  --dimension-hon-sem-spacing-8: var(--dimension-hon-pri-dimension-8);
  --dimension-hon-sem-spacing-10: var(--dimension-hon-pri-dimension-10);
  --dimension-hon-sem-spacing-12: var(--dimension-hon-pri-dimension-12);
  --dimension-hon-sem-spacing-16: var(--dimension-hon-pri-dimension-16);
  --dimension-hon-sem-spacing-20: var(--dimension-hon-pri-dimension-20);
  --dimension-hon-sem-spacing-24: var(--dimension-hon-pri-dimension-24);
  --dimension-hon-sem-spacing-28: var(--dimension-hon-pri-dimension-28);
  --dimension-hon-sem-spacing-32: var(--dimension-hon-pri-dimension-32);
  --dimension-hon-sem-spacing-44: var(--dimension-hon-pri-dimension-44);
  --dimension-hon-sem-spacing-60: var(--dimension-hon-pri-dimension-60);
  --dimension-hon-sem-font-title-lg-size: var(--dimension-hon-pri-font-size-xxl);
  --dimension-hon-sem-font-title-lg-line-height: var(--dimension-hon-pri-font-line-height-xxl);
  --dimension-hon-sem-font-title-lg-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-title-xl-size: var(--dimension-hon-pri-font-size-xxxl);
  --dimension-hon-sem-font-title-xl-line-height: var(--dimension-hon-pri-font-line-height-xxxl);
  --dimension-hon-sem-font-title-xl-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-title-md-size: var(--dimension-hon-pri-font-size-xl);
  --dimension-hon-sem-font-title-md-line-height: var(--dimension-hon-pri-font-line-height-xl);
  --dimension-hon-sem-font-title-md-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-title-sm-size: var(--dimension-hon-pri-font-size-lg);
  --dimension-hon-sem-font-title-sm-line-height: var(--dimension-hon-pri-font-line-height-lg);
  --dimension-hon-sem-font-title-sm-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-title-xs-size: var(--dimension-hon-pri-font-size-md);
  --dimension-hon-sem-font-title-xs-line-height: var(--dimension-hon-pri-font-line-height-md);
  --dimension-hon-sem-font-title-xs-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-heading-md-size: var(--dimension-hon-pri-font-size-sm);
  --dimension-hon-sem-font-heading-md-line-height: var(--dimension-hon-pri-font-line-height-sm);
  --dimension-hon-sem-font-heading-md-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-lg);
  --dimension-hon-sem-font-body-xl-size: var(--dimension-hon-pri-font-size-xl);
  --dimension-hon-sem-font-body-xl-line-height: var(--dimension-hon-pri-font-line-height-xl);
  --dimension-hon-sem-font-body-xl-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-link-md-size: var(--dimension-hon-pri-font-size-md);
  --dimension-hon-sem-font-link-md-line-height: var(--dimension-hon-pri-font-line-height-md);
  --dimension-hon-sem-font-link-md-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-link-sm-size: var(--dimension-hon-pri-font-size-sm);
  --dimension-hon-sem-font-link-sm-line-height: var(--dimension-hon-pri-font-line-height-sm);
  --dimension-hon-sem-font-link-sm-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-link-xs-size: var(--dimension-hon-pri-font-size-xs);
  --dimension-hon-sem-font-link-xs-line-height: var(--dimension-hon-pri-font-line-height-xs);
  --dimension-hon-sem-font-link-xs-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-functional-navbar-size: var(--dimension-hon-pri-font-size-xxs);
  --dimension-hon-sem-font-functional-navbar-line-height: var(--dimension-hon-pri-font-line-height-xxs);
  --dimension-hon-sem-font-functional-navbar-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-functional-badge-size: var(--dimension-hon-pri-font-size-xs);
  --dimension-hon-sem-font-functional-badge-line-height: var(--dimension-hon-pri-font-line-height-xs);
  --dimension-hon-sem-font-functional-badge-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-lg);
  --dimension-hon-sem-font-button-size: var(--dimension-hon-pri-font-size-sm);
  --dimension-hon-sem-font-button-line-height: var(--dimension-hon-pri-font-line-height-md);
  --dimension-hon-sem-font-button-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-border-radius-none: var(--dimension-hon-pri-dimension-0);
  --dimension-hon-sem-border-radius-xs: var(--dimension-hon-pri-dimension-4);
  --dimension-hon-sem-border-radius-sm: var(--dimension-hon-pri-dimension-6);
  --dimension-hon-sem-border-radius-md: var(--dimension-hon-pri-dimension-8);
  --dimension-hon-sem-border-radius-lg: var(--dimension-hon-pri-dimension-12);
  --dimension-hon-sem-border-radius-xl: var(--dimension-hon-pri-dimension-24);
  --dimension-hon-sem-border-radius-xxl: var(--dimension-hon-pri-dimension-32);
  --dimension-hon-sem-border-radius-round: var(--dimension-hon-pri-dimension-100);
  --dimension-hon-sem-border-weight-1: var(--dimension-hon-pri-dimension-1);
  --dimension-hon-sem-border-weight-2: var(--dimension-hon-pri-dimension-2);
  --dimension-hon-sem-font-heading-sm-size: var(--dimension-hon-pri-font-size-xs);
  --dimension-hon-sem-font-heading-sm-line-height: var(--dimension-hon-pri-font-line-height-xs);
  --dimension-hon-sem-font-heading-sm-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-lg);
  --dimension-hon-sem-font-body-lg-size: var(--dimension-hon-pri-font-size-lg);
  --dimension-hon-sem-font-body-lg-line-height: var(--dimension-hon-pri-font-line-height-lg);
  --dimension-hon-sem-font-body-lg-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-body-md-size: var(--dimension-hon-pri-font-size-md);
  --dimension-hon-sem-font-body-md-line-height: var(--dimension-hon-pri-font-line-height-md);
  --dimension-hon-sem-font-body-md-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-body-sm-size: var(--dimension-hon-pri-font-size-sm);
  --dimension-hon-sem-font-body-sm-line-height: var(--dimension-hon-pri-font-line-height-sm);
  --dimension-hon-sem-font-body-sm-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-sem-font-body-xs-size: var(--dimension-hon-pri-font-size-xs);
  --dimension-hon-sem-font-body-xs-line-height: var(--dimension-hon-pri-font-line-height-xs);
  --dimension-hon-sem-font-body-xs-letter-spacing: var(--dimension-hon-pri-font-letter-spacing-md);
  --dimension-hon-comp-button-action-btn-sm-stroke: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-button-action-btn-sm-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-button-action-btn-sm-size: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-button-action-btn-sm-min-width: var(--dimension-hon-sem-size-64);
  --dimension-hon-comp-button-action-btn-sm-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-button-action-btn-sm-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-button-action-btn-sm-inner-y: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-button-action-btn-md-size: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-button-action-btn-md-stroke: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-button-action-btn-md-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-button-action-btn-md-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-button-action-btn-md-show-icon-false-inner-y: var(--dimension-hon-sem-spacing-10);
  --dimension-hon-comp-button-action-btn-md-show-icon-false-inner-x: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-button-action-btn-md-show-icon-true-inner-y: var(--dimension-hon-sem-spacing-10);
  --dimension-hon-comp-button-action-btn-md-show-icon-true-padding-left: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-button-action-btn-md-show-icon-true-padding-right: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-button-icon-btn-sm-stroke: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-button-icon-btn-sm-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-button-icon-btn-sm-size: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-button-icon-btn-md-size: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-button-icon-btn-md-stroke: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-button-icon-btn-md-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-button-link-btn-height: var(--dimension-hon-sem-size-24);
  --dimension-hon-comp-button-fab-size: var(--dimension-hon-sem-size-56);
  --dimension-hon-comp-radio-checkbox-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-radio-checkbox-label-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-radio-checkbox-state-layer-padding: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-radio-checkbox-target: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-badge-dot-size: var(--dimension-hon-sem-size-8);
  --dimension-hon-comp-badge-label-height: var(--dimension-hon-sem-size-20);
  --dimension-hon-comp-badge-label-inner-x: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-badge-label-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-badge-label-inner-y: var(--dimension-hon-sem-spacing-2);
  --dimension-hon-comp-badge-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-chip-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-chip-height: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-chip-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-chip-no-icon-inner-x: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-item-badge-inner-y: var(--dimension-hon-sem-spacing-2);
  --dimension-hon-comp-item-badge-padding-right: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-snackbar-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-snackbar-min-width: var(--dimension-hon-pri-dimension-328);
  --dimension-hon-comp-snackbar-min-height: var(--dimension-hon-pri-dimension-44);
  --dimension-hon-comp-item-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-snackbar-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-item-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-snackbar-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-card-item-min-width: var(--dimension-hon-sem-size-156);
  --dimension-hon-comp-wheel-picker-row-inner-x-selected: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-wheel-picker-row-inner-x-unselected: var(--dimension-hon-sem-spacing-60);
  --dimension-hon-comp-wheel-picker-cell-min-width: var(--dimension-hon-sem-size-60);
  --dimension-hon-comp-wheel-picker-cell-min-height: var(--dimension-hon-sem-size-88);
  --dimension-hon-comp-wheel-picker-input-height: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-wheel-picker-input-corner-radius: var(--dimension-hon-sem-border-radius-sm);
  --dimension-hon-comp-wheel-picker-input-width: var(--dimension-hon-sem-size-64);
  --dimension-hon-comp-wheel-picker-input-target: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-program-item-min-width: var(--dimension-hon-sem-size-312);
  --dimension-hon-comp-program-item-height: var(--dimension-hon-sem-size-120);
  --dimension-hon-comp-program-item-tag-height: var(--dimension-hon-sem-size-24);
  --dimension-hon-comp-program-item-tag-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-program-item-tag-inner-x: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-program-item-tag-stroke-weight: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-program-item-inner-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-program-item-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-program-item-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-program-item-description-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-program-item-description-separator-height: var(--dimension-hon-sem-size-16);
  --dimension-hon-comp-program-item-badge-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-text-field-min-width: var(--dimension-hon-sem-size-156);
  --dimension-hon-comp-text-field-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-text-field-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-card-item-title-height: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-card-item-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-card-item-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-card-item-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-card-item-text-gap: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-info-box-favicon-size: var(--dimension-hon-sem-size-24);
  --dimension-hon-comp-info-box-favicon-corner-radius: var(--dimension-hon-sem-border-radius-sm);
  --dimension-hon-comp-item-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-item-min-width: var(--dimension-hon-sem-size-304);
  --dimension-hon-comp-divider-inner-x-md: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-toggle-height: var(--dimension-hon-sem-size-24);
  --dimension-hon-comp-toggle-width: var(--dimension-hon-sem-size-40);
  --dimension-hon-comp-toggle-thumb-size: var(--dimension-hon-sem-size-20);
  --dimension-hon-comp-toggle-inner-x: var(--dimension-hon-sem-spacing-2);
  --dimension-hon-comp-toggle-target-size: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-toggle-state-layer-padding-default: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-toggle-state-layer-padding-pressed: var(--dimension-hon-sem-spacing-6);
  --dimension-hon-comp-promo-banner-min-width: var(--dimension-hon-sem-size-312);
  --dimension-hon-comp-promo-banner-button-target: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-promo-banner-button-state-layer-padding: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-promo-banner-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-promo-banner-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-promo-banner-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-promo-banner-text-gap: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-loader-min-width: var(--dimension-hon-sem-size-240);
  --dimension-hon-comp-loader-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-loader-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-loader-gap: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-wheel-picker-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-wheel-picker-inner-y: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-wheel-picker-gap: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-wheel-picker-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-wheel-picker-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-wheel-picker-height: var(--dimension-hon-sem-size-268);
  --dimension-hon-comp-vertical-slider-width: var(--dimension-hon-sem-size-160);
  --dimension-hon-comp-vertical-slider-height: var(--dimension-hon-sem-size-360);
  --dimension-hon-comp-vertical-slider-track-corner-radius: var(--dimension-hon-sem-border-radius-xxl);
  --dimension-hon-comp-vertical-slider-thumb-corner-radius-bottom-right-default: var(--dimension-hon-sem-border-radius-xxl);
  --dimension-hon-comp-vertical-slider-thumb-corner-radius-bottom-left-default: var(--dimension-hon-sem-border-radius-xxl);
  --dimension-hon-comp-vertical-slider-thumb-corner-radius-top-right-default: var(--dimension-hon-sem-border-radius-none);
  --dimension-hon-comp-vertical-slider-thumb-corner-radius-top-left-default: var(--dimension-hon-sem-border-radius-none);
  --dimension-hon-comp-vertical-slider-thumb-corner-radius-total-full: var(--dimension-hon-sem-border-radius-xxl);
  --dimension-hon-comp-vertical-slider-handle-width: var(--dimension-hon-sem-size-40);
  --dimension-hon-comp-vertical-slider-handle-height: var(--dimension-hon-sem-size-4);
  --dimension-hon-comp-vertical-slider-handle-tappable-area-height: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-text-field-text-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-text-field-text-inner-y: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-text-field-text-label-height: var(--dimension-hon-sem-size-40);
  --dimension-hon-comp-text-field-icon-padding-left: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-text-field-icon-padding-right: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-text-field-icon-inner-y: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-text-field-trailing-icon-size: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-text-field-supporting-text-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-time-slots-panel-trailing-icon-target: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-time-slots-panel-slot-padding: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-time-slots-panel-slot-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-time-slots-panel-slot-corner-radius: var(--dimension-hon-sem-border-radius-xs);
  --dimension-hon-comp-time-slots-panel-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-time-slots-panel-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-time-slots-panel-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-time-slots-panel-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-time-slots-panel-button-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-appliance-card-width: var(--dimension-hon-sem-size-152);
  --dimension-hon-comp-appliance-card-text-width: var(--dimension-hon-sem-size-128);
  --dimension-hon-comp-badge-counter-size: var(--dimension-hon-sem-size-20);
  --dimension-hon-comp-appliance-card-height: var(--dimension-hon-sem-size-200);
  --dimension-hon-comp-progress-bar-height: var(--dimension-hon-sem-size-4);
  --dimension-hon-comp-appliance-card-icon-status-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-progress-bar-width: var(--dimension-hon-sem-size-136);
  --dimension-hon-comp-progress-bar-pattern-width: var(--dimension-hon-sem-size-140);
  --dimension-hon-comp-appliance-card-padding: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-appliance-card-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-bottom-bar-item-width: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-bottom-bar-item-height: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-bottom-bar-item-inner-y: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-bottom-bar-item-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-bottom-bar-item-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-bottom-bar-height: var(--dimension-hon-sem-size-64);
  --dimension-hon-comp-bottom-bar-min-width: var(--dimension-hon-sem-size-360);
  --dimension-hon-comp-bottom-bar-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-bottom-bar-stroke-weight: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-top-bar-dropdown-menu-dot-stroke-weight: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-top-bar-button-double-action-width: var(--dimension-hon-sem-size-96);
  --dimension-hon-comp-top-bar-button-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-top-bar-height: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-top-bar-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-top-bar-main-gap: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-top-bar-page-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-top-bar-progress-bar-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-top-bar-dropdown-menu-height: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-top-bar-dropdown-menu-min-width: var(--dimension-hon-sem-size-192);
  --dimension-hon-comp-top-bar-dropdown-menu-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-top-bar-dropdown-menu-inner-y: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-top-bar-dropdown-menu-padding-left: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-top-bar-dropdown-menu-padding-right: var(--dimension-hon-sem-spacing-10);
  --dimension-hon-comp-progress-stepper-height: var(--dimension-hon-sem-size-4);
  --dimension-hon-comp-progress-stepper-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-progress-stepper-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-program-item-favicon-container-size: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-program-item-favicon-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-program-item-favicon-img-size: var(--dimension-hon-sem-size-36);
  --dimension-hon-comp-program-item-favicon-stroke-weight: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-program-item-message-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-program-item-message-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-program-item-message-inner-y: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-chip-with-icon-padding-left: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-chip-with-icon-padding-right: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-search-field-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-search-field-height: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-search-field-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-search-field-search-bar-min-width: var(--dimension-hon-sem-size-272);
  --dimension-hon-comp-search-field-search-bar-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-search-field-search-bar-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-search-field-search-bar-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-tabs-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-tabs-scrollable-padding-left: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-tabs-item-inner-y: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-tabs-item-inner-x: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-tabs-item-indicator-height: var(--dimension-hon-sem-border-weight-2);
  --dimension-hon-comp-tabs-item-indicator-corner-radius: var(--dimension-hon-sem-border-radius-round);
  --dimension-hon-comp-statistics-card-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-statistics-card-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-statistics-card-empty-state-min-width: var(--dimension-hon-pri-dimension-328);
  --dimension-hon-comp-statistics-card-empty-state-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-statistics-card-empty-state-container-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-statistics-card-empty-state-container-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-statistics-card-empty-state-container-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-statistics-card-empty-state-container-inner-y: var(--dimension-hon-sem-spacing-20);
  --dimension-hon-comp-statistics-card-empty-state-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-statistics-card-title-gap: var(--dimension-hon-sem-spacing-2);
  --dimension-hon-comp-statistics-card-filters-chips-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-statistics-card-filters-text-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-statistics-card-chart-area-min-width: var(--dimension-hon-sem-size-304);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-width: var(--dimension-hon-sem-size-256);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-height: var(--dimension-hon-sem-size-200);
  --dimension-hon-comp-statistics-card-chart-area-pie-chart-size: var(--dimension-hon-sem-size-160);
  --dimension-hon-comp-statistics-card-chart-area-pie-chart-padding: var(--dimension-hon-sem-spacing-32);
  --dimension-hon-comp-statistics-card-chart-area-stacked-area-width: var(--dimension-hon-sem-size-260);
  --dimension-hon-comp-statistics-card-chart-area-stacked-area-height: var(--dimension-hon-sem-size-200);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-y-axis-label-percentage-width: var(--dimension-hon-sem-size-28);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-y-axis-label-value-width: var(--dimension-hon-sem-size-36);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-y-axis-label-padding-right: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-y-axis-height: var(--dimension-hon-sem-size-212);
  --dimension-hon-comp-statistics-card-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-statistics-card-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-statistics-card-chart-area-level-bar-chart-height: var(--dimension-hon-sem-size-16);
  --dimension-hon-comp-statistics-card-chart-area-level-bar-chart-element-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-statistics-card-chart-area-level-bar-chart-level-bar-gap: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-statistics-card-chart-area-bar-chart-column-width: var(--dimension-hon-sem-size-16);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-x-axis-padding-left: var(--dimension-hon-sem-spacing-44);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-x-axis-padding-top: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-x-axis-padding-bottom: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-statistics-card-chart-area-base-chart-x-axis-padding-right: var(--dimension-hon-sem-spacing-none);
  --dimension-hon-comp-info-box-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-info-box-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-info-box-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-info-box-min-width: var(--dimension-hon-pri-dimension-328);
  --dimension-hon-comp-button-action-btn-sm-show-icon-true-inner-y: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-button-action-btn-sm-show-icon-true-padding-left: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-button-action-btn-sm-show-icon-true-padding-right: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-button-action-btn-sm-show-icon-false-inner-y: var(--dimension-hon-sem-spacing-6);
  --dimension-hon-comp-button-action-btn-sm-show-icon-false-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-bottom-sheet-modal-content-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-modal-content-padding-bottom: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-bottom-sheet-modal-content-inner-x: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-modal-content-img-corner-radius: var(--dimension-hon-sem-border-radius-sm);
  --dimension-hon-comp-bottom-sheet-modal-handle-inner-y: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-modal-handle-height: var(--dimension-hon-sem-size-4);
  --dimension-hon-comp-bottom-sheet-modal-handle-width: var(--dimension-hon-sem-size-40);
  --dimension-hon-comp-bottom-sheet-modal-handle-corner-radius: var(--dimension-hon-sem-border-radius-xs);
  --dimension-hon-comp-bottom-sheet-navbar-item-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-navbar-item-text-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-navbar-item-badge-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-bottom-sheet-navbar-handle-inner-y: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-navbar-handle-height: var(--dimension-hon-sem-size-4);
  --dimension-hon-comp-bottom-sheet-navbar-handle-width: var(--dimension-hon-sem-size-40);
  --dimension-hon-comp-bottom-sheet-navbar-handle-corner-radius: var(--dimension-hon-sem-border-radius-xs);
  --dimension-hon-comp-bottom-sheet-persistent-inner-x: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-persistent-content-list-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-bottom-sheet-persistent-content-list-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-bottom-sheet-persistent-content-list-item-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-bottom-sheet-persistent-content-list-item-value-size: var(--dimension-hon-sem-size-56);
  --dimension-hon-comp-bottom-sheet-persistent-help-text-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-bottom-sheet-persistent-action-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-bottom-sheet-persistent-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-corner-radius-top: var(--dimension-hon-sem-border-radius-xl);
  --dimension-hon-comp-bottom-sheet-corner-radius-bottom: var(--dimension-hon-sem-border-radius-none);
  --dimension-hon-comp-side-drawer-min-width: var(--dimension-hon-sem-size-258);
  --dimension-hon-comp-side-drawer-min-height: var(--dimension-hon-sem-size-780);
  --dimension-hon-comp-side-drawer-actions-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-side-drawer-actions-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-side-drawer-content-inner-y: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-side-drawer-content-gap: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-side-drawer-content-text-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-button-action-btn-md-loading-inner-y: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-button-action-btn-md-loading-inner-x: var(--dimension-hon-sem-spacing-24);
  --dimension-hon-comp-button-action-btn-sm-loading-inner-y: var(--dimension-hon-sem-spacing-6);
  --dimension-hon-comp-button-action-btn-sm-loading-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-side-drawer-item-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-side-drawer-item-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-popup-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-popup-main-container-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-popup-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-popup-main-container-main-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-popup-header-padding: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-code-input-field-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-popup-main-container-media-min-width: var(--dimension-hon-sem-size-296);
  --dimension-hon-comp-popup-main-container-media-min-height: var(--dimension-hon-sem-size-222);
  --dimension-hon-comp-popup-main-container-media-corner-radius: var(--dimension-hon-sem-border-radius-xs);
  --dimension-hon-comp-code-input-field-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-popup-main-container-content-gap: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-code-input-field-single-input-big-width: var(--dimension-hon-sem-size-44);
  --dimension-hon-comp-code-input-field-single-input-big-height: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-code-input-field-single-input-big-corner-radius: var(--dimension-hon-sem-border-radius-sm);
  --dimension-hon-comp-avatar-size: var(--dimension-hon-sem-size-40);
  --dimension-hon-comp-editorial-card-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-editorial-card-small-min-width: var(--dimension-hon-sem-size-285);
  --dimension-hon-comp-page-control-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-editorial-card-small-height: var(--dimension-hon-sem-size-192);
  --dimension-hon-comp-editorial-card-text-container-padding: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-editorial-card-text-container-gap: var(--dimension-hon-sem-spacing-4);
  --dimension-hon-comp-editorial-card-big-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-page-control-active-width: var(--dimension-hon-sem-size-16);
  --dimension-hon-comp-page-control-active-height: var(--dimension-hon-sem-size-8);
  --dimension-hon-comp-page-control-inactive-size: var(--dimension-hon-sem-size-8);
  --dimension-hon-comp-scroll-bar-height: var(--dimension-hon-sem-size-64);
  --dimension-hon-comp-horizontal-slider-min-width: var(--dimension-hon-sem-size-328);
  --dimension-hon-comp-horizontal-slider-progress-unit-size: var(--dimension-hon-sem-size-24);
  --dimension-hon-comp-horizontal-slider-progress-height: var(--dimension-hon-sem-size-8);
  --dimension-hon-comp-horizontal-slider-corner-radius: var(--dimension-hon-sem-border-radius-lg);
  --dimension-hon-comp-horizontal-slider-padding: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-horizontal-slider-text-container-gap: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-horizontal-slider-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-stepper-sm-gap: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-stepper-md-width: var(--dimension-hon-sem-size-152);
  --dimension-hon-comp-horizontal-slider-step-indicator-width: var(--dimension-hon-sem-border-weight-1);
  --dimension-hon-comp-horizontal-slider-step-indicator-height: var(--dimension-hon-sem-size-8);
  --dimension-hon-comp-horizontal-slider-step-indicator-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-button-power-btn-size: var(--dimension-hon-sem-size-128);
  --dimension-hon-comp-divider-inner-x-lg: var(--dimension-hon-sem-spacing-16);
  --dimension-hon-comp-bottom-sheet-modal-content-padding-top: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-scroll-bar-width: var(--dimension-hon-sem-size-4);
  --dimension-hon-comp-horizontal-slider-progress-target: var(--dimension-hon-sem-size-48);
  --dimension-hon-comp-horizontal-slider-state-layer-padding: var(--dimension-hon-sem-spacing-8);
  --dimension-hon-comp-segmented-control-corner-radius: var(--dimension-hon-sem-border-radius-md);
  --dimension-hon-comp-segmented-control-separator-height: var(--dimension-hon-sem-size-20);
  --dimension-hon-comp-segmented-control-padding: var(--dimension-hon-sem-spacing-2);
  --dimension-hon-comp-segmented-control-min-width: var(--dimension-hon-sem-size-304);
  --dimension-hon-comp-segmented-control-segment-corner-radius: var(--dimension-hon-sem-border-radius-sm);
  --dimension-hon-comp-segmented-control-segment-height: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-segmented-control-segment-inner-x: var(--dimension-hon-sem-spacing-12);
  --dimension-hon-comp-code-input-field-single-input-small-width: var(--dimension-hon-sem-size-32);
  --dimension-hon-comp-code-input-field-single-input-small-height: var(--dimension-hon-sem-size-36);
  --dimension-hon-comp-code-input-field-single-input-small-corner-radius: var(--dimension-hon-sem-border-radius-sm);
}