/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --font-size-hon-primitive-font-size-xxs: var(--dimension-hon-primitive-dimension-10);
  --font-size-hon-primitive-font-size-xs: var(--dimension-hon-primitive-dimension-12);
  --font-size-hon-primitive-font-size-sm: var(--dimension-hon-primitive-dimension-14);
  --font-size-hon-primitive-font-size-md: var(--dimension-hon-primitive-dimension-16);
  --font-size-hon-primitive-font-size-lg: var(--dimension-hon-primitive-dimension-20);
  --font-size-hon-primitive-font-size-xl: var(--dimension-hon-primitive-dimension-24);
  --font-size-hon-primitive-font-size-xxl: var(--dimension-hon-primitive-dimension-28);
  --font-size-hon-primitive-font-size-xxxl: var(--dimension-hon-primitive-dimension-32);
  --font-size-hon-semantic-font-title-lg-size: var(--font-size-hon-primitive-font-size-xxl);
  --font-size-hon-semantic-font-title-xl-size: var(--font-size-hon-primitive-font-size-xxxl);
  --font-size-hon-semantic-font-title-md-size: var(--font-size-hon-primitive-font-size-xl);
  --font-size-hon-semantic-font-title-sm-size: var(--font-size-hon-primitive-font-size-lg);
  --font-size-hon-semantic-font-title-xs-size: var(--font-size-hon-primitive-font-size-md);
  --font-size-hon-semantic-font-heading-md-size: var(--font-size-hon-primitive-font-size-sm);
  --font-size-hon-semantic-font-body-xl-size: var(--font-size-hon-primitive-font-size-xl);
  --font-size-hon-semantic-font-link-md-size: var(--font-size-hon-primitive-font-size-md);
  --font-size-hon-semantic-font-link-sm-size: var(--font-size-hon-primitive-font-size-sm);
  --font-size-hon-semantic-font-link-xs-size: var(--font-size-hon-primitive-font-size-xs);
  --font-size-hon-semantic-font-functional-navbar-size: var(--font-size-hon-primitive-font-size-xxs);
  --font-size-hon-semantic-font-functional-badge-size: var(--font-size-hon-primitive-font-size-xs);
  --font-size-hon-semantic-font-button-size: var(--font-size-hon-primitive-font-size-sm);
  --font-size-hon-semantic-font-heading-sm-size: var(--font-size-hon-primitive-font-size-xs);
  --font-size-hon-semantic-font-body-lg-size: var(--font-size-hon-primitive-font-size-lg);
  --font-size-hon-semantic-font-body-md-size: var(--font-size-hon-primitive-font-size-md);
  --font-size-hon-semantic-font-body-sm-size: var(--font-size-hon-primitive-font-size-sm);
  --font-size-hon-semantic-font-body-xs-size: var(--font-size-hon-primitive-font-size-xs);
}