/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --font-family-hon-primitive-font-typeface: "Lato";
  --font-family-hon-semantic-font-title-xl-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-title-lg-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-title-md-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-title-sm-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-title-xs-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-heading-md-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-body-xl-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-link-md-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-link-sm-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-link-xs-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-button-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-functional-badge-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-functional-navbar-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-heading-sm-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-body-lg-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-body-md-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-body-sm-typeface: var(--font-family-hon-primitive-font-typeface);
  --font-family-hon-semantic-font-body-xs-typeface: var(--font-family-hon-primitive-font-typeface);
}