/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --size-hon-components-bottom-sheet-min-width: 360px;
  --size-hon-components-popup-max-height: 566px;
  --size-hon-semantic-size-4: var(--dimension-hon-primitive-dimension-4);
  --size-hon-semantic-size-8: var(--dimension-hon-primitive-dimension-8);
  --size-hon-semantic-size-12: var(--dimension-hon-primitive-dimension-12);
  --size-hon-semantic-size-16: var(--dimension-hon-primitive-dimension-16);
  --size-hon-semantic-size-20: var(--dimension-hon-primitive-dimension-20);
  --size-hon-semantic-size-24: var(--dimension-hon-primitive-dimension-24);
  --size-hon-semantic-size-28: var(--dimension-hon-primitive-dimension-28);
  --size-hon-semantic-size-32: var(--dimension-hon-primitive-dimension-32);
  --size-hon-semantic-size-36: var(--dimension-hon-primitive-dimension-36);
  --size-hon-semantic-size-40: var(--dimension-hon-primitive-dimension-40);
  --size-hon-semantic-size-44: var(--dimension-hon-primitive-dimension-44);
  --size-hon-semantic-size-48: var(--dimension-hon-primitive-dimension-48);
  --size-hon-semantic-size-52: var(--dimension-hon-primitive-dimension-52);
  --size-hon-semantic-size-56: var(--dimension-hon-primitive-dimension-56);
  --size-hon-semantic-size-60: var(--dimension-hon-primitive-dimension-60);
  --size-hon-semantic-size-64: var(--dimension-hon-primitive-dimension-64);
  --size-hon-semantic-size-88: var(--dimension-hon-primitive-dimension-88);
  --size-hon-semantic-size-96: var(--dimension-hon-primitive-dimension-96);
  --size-hon-semantic-size-120: var(--dimension-hon-primitive-dimension-120);
  --size-hon-semantic-size-128: var(--dimension-hon-primitive-dimension-128);
  --size-hon-semantic-size-136: var(--dimension-hon-primitive-dimension-136);
  --size-hon-semantic-size-140: var(--dimension-hon-primitive-dimension-140);
  --size-hon-semantic-size-152: var(--dimension-hon-primitive-dimension-152);
  --size-hon-semantic-size-156: var(--dimension-hon-primitive-dimension-156);
  --size-hon-semantic-size-160: var(--dimension-hon-primitive-dimension-160);
  --size-hon-semantic-size-176: var(--dimension-hon-primitive-dimension-176);
  --size-hon-semantic-size-192: var(--dimension-hon-primitive-dimension-192);
  --size-hon-semantic-size-200: var(--dimension-hon-primitive-dimension-200);
  --size-hon-semantic-size-212: var(--dimension-hon-primitive-dimension-212);
  --size-hon-semantic-size-222: var(--dimension-hon-primitive-dimension-222);
  --size-hon-semantic-size-240: var(--dimension-hon-primitive-dimension-240);
  --size-hon-semantic-size-256: var(--dimension-hon-primitive-dimension-256);
  --size-hon-semantic-size-258: var(--dimension-hon-primitive-dimension-258);
  --size-hon-semantic-size-260: var(--dimension-hon-primitive-dimension-260);
  --size-hon-semantic-size-268: var(--dimension-hon-primitive-dimension-268);
  --size-hon-semantic-size-272: var(--dimension-hon-primitive-dimension-272);
  --size-hon-semantic-size-285: var(--dimension-hon-primitive-dimension-285);
  --size-hon-semantic-size-296: var(--dimension-hon-primitive-dimension-296);
  --size-hon-semantic-size-304: var(--dimension-hon-primitive-dimension-304);
  --size-hon-semantic-size-312: var(--dimension-hon-primitive-dimension-312);
  --size-hon-semantic-size-328: var(--dimension-hon-primitive-dimension-328);
  --size-hon-semantic-size-360: var(--dimension-hon-primitive-dimension-360);
  --size-hon-semantic-size-780: var(--dimension-hon-primitive-dimension-780);
  --size-hon-semantic-size-644: var(--dimension-hon-primitive-dimension-644);
  --size-hon-semantic-icon-xs: var(--dimension-hon-primitive-dimension-16);
  --size-hon-semantic-icon-sm: var(--dimension-hon-primitive-dimension-24);
  --size-hon-semantic-icon-md: var(--dimension-hon-primitive-dimension-32);
  --size-hon-semantic-icon-lg: var(--dimension-hon-primitive-dimension-40);
  --size-hon-semantic-illustration-md: var(--dimension-hon-primitive-dimension-64);
  --size-hon-semantic-illustration-lg: var(--dimension-hon-primitive-dimension-152);
  --size-hon-components-button-action-btn-sm-size: var(--size-hon-semantic-size-32);
  --size-hon-components-button-action-btn-sm-min-width: var(--size-hon-semantic-size-64);
  --size-hon-components-button-action-btn-md-size: var(--size-hon-semantic-size-44);
  --size-hon-components-button-icon-btn-sm-size: var(--size-hon-semantic-size-32);
  --size-hon-components-button-icon-btn-md-size: var(--size-hon-semantic-size-44);
  --size-hon-components-button-link-btn-height: var(--size-hon-semantic-size-24);
  --size-hon-components-button-fab-size: var(--size-hon-semantic-size-56);
  --size-hon-components-radio-checkbox-target: var(--size-hon-semantic-size-48);
  --size-hon-components-badge-dot-size: var(--size-hon-semantic-size-8);
  --size-hon-components-badge-label-height: var(--size-hon-semantic-size-20);
  --size-hon-components-chip-height: var(--size-hon-semantic-size-32);
  --size-hon-components-snackbar-min-width: var(--dimension-hon-primitive-dimension-328);
  --size-hon-components-snackbar-min-height: var(--dimension-hon-primitive-dimension-44);
  --size-hon-components-snackbar-icon-size: var(--size-hon-semantic-icon-sm);
  --size-hon-components-card-item-min-width: var(--size-hon-semantic-size-156);
  --size-hon-components-wheel-picker-cell-min-width: var(--size-hon-semantic-size-60);
  --size-hon-components-wheel-picker-cell-min-height: var(--size-hon-semantic-size-88);
  --size-hon-components-wheel-picker-input-height: var(--size-hon-semantic-size-32);
  --size-hon-components-wheel-picker-input-width: var(--size-hon-semantic-size-64);
  --size-hon-components-wheel-picker-input-target: var(--size-hon-semantic-size-44);
  --size-hon-components-program-item-min-width: var(--size-hon-semantic-size-312);
  --size-hon-components-program-item-height: var(--size-hon-semantic-size-120);
  --size-hon-components-program-item-tag-height: var(--size-hon-semantic-size-24);
  --size-hon-components-program-item-description-separator-height: var(--size-hon-semantic-size-16);
  --size-hon-components-text-field-min-width: var(--size-hon-semantic-size-156);
  --size-hon-components-card-item-title-height: var(--size-hon-semantic-size-48);
  --size-hon-components-item-message-min-width: var(--size-hon-semantic-size-304);
  --size-hon-components-item-message-height: var(--size-hon-semantic-size-64);
  --size-hon-components-info-box-favicon-size: var(--size-hon-semantic-size-24);
  --size-hon-components-item-min-width: var(--size-hon-semantic-size-304);
  --size-hon-components-toggle-height: var(--size-hon-semantic-size-24);
  --size-hon-components-toggle-width: var(--size-hon-semantic-size-40);
  --size-hon-components-toggle-thumb-size: var(--size-hon-semantic-size-20);
  --size-hon-components-toggle-target-size: var(--size-hon-semantic-size-48);
  --size-hon-components-promo-banner-min-width: var(--size-hon-semantic-size-312);
  --size-hon-components-promo-banner-button-target: var(--size-hon-semantic-size-48);
  --size-hon-components-loader-min-width: var(--size-hon-semantic-size-240);
  --size-hon-components-wheel-picker-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-wheel-picker-height: var(--size-hon-semantic-size-268);
  --size-hon-components-vertical-slider-width: var(--size-hon-semantic-size-160);
  --size-hon-components-vertical-slider-height: var(--size-hon-semantic-size-360);
  --size-hon-components-vertical-slider-handle-width: var(--size-hon-semantic-size-40);
  --size-hon-components-vertical-slider-handle-height: var(--size-hon-semantic-size-4);
  --size-hon-components-vertical-slider-handle-tappable-area-height: var(--size-hon-semantic-size-44);
  --size-hon-components-text-field-text-label-height: var(--size-hon-semantic-size-40);
  --size-hon-components-text-field-trailing-icon-size: var(--size-hon-semantic-size-48);
  --size-hon-components-time-slots-panel-trailing-icon-target: var(--size-hon-semantic-size-48);
  --size-hon-components-time-slots-panel-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-appliance-card-width: var(--size-hon-semantic-size-152);
  --size-hon-components-appliance-card-text-width: var(--size-hon-semantic-size-128);
  --size-hon-components-badge-counter-size: var(--size-hon-semantic-size-20);
  --size-hon-components-appliance-card-height: var(--size-hon-semantic-size-200);
  --size-hon-components-progress-bar-height: var(--size-hon-semantic-size-4);
  --size-hon-components-progress-bar-width: var(--size-hon-semantic-size-136);
  --size-hon-components-progress-bar-pattern-width: var(--size-hon-semantic-size-140);
  --size-hon-components-bottom-bar-item-width: var(--size-hon-semantic-size-48);
  --size-hon-components-bottom-bar-item-height: var(--size-hon-semantic-size-32);
  --size-hon-components-bottom-bar-height: var(--size-hon-semantic-size-64);
  --size-hon-components-bottom-bar-min-width: var(--size-hon-semantic-size-360);
  --size-hon-components-top-bar-button-double-action-width: var(--size-hon-semantic-size-96);
  --size-hon-components-top-bar-height: var(--size-hon-semantic-size-44);
  --size-hon-components-top-bar-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-top-bar-dropdown-menu-height: var(--size-hon-semantic-size-44);
  --size-hon-components-top-bar-dropdown-menu-min-width: var(--size-hon-semantic-size-192);
  --size-hon-components-progress-stepper-height: var(--size-hon-semantic-size-4);
  --size-hon-components-program-item-favicon-container-size: var(--size-hon-semantic-size-48);
  --size-hon-components-program-item-favicon-img-size: var(--size-hon-semantic-size-36);
  --size-hon-components-search-field-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-search-field-height: var(--size-hon-semantic-size-44);
  --size-hon-components-search-field-search-bar-min-width: var(--size-hon-semantic-size-272);
  --size-hon-components-tabs-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-tabs-item-indicator-height: var(--dimension-hon-semantic-border-weight-2);
  --size-hon-components-statistics-card-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-statistics-card-empty-state-min-width: var(--dimension-hon-primitive-dimension-328);
  --size-hon-components-statistics-card-chart-area-min-width: var(--size-hon-semantic-size-304);
  --size-hon-components-statistics-card-chart-area-base-chart-width: var(--size-hon-semantic-size-256);
  --size-hon-components-statistics-card-chart-area-base-chart-height: var(--size-hon-semantic-size-200);
  --size-hon-components-statistics-card-chart-area-pie-chart-size: var(--size-hon-semantic-size-160);
  --size-hon-components-statistics-card-chart-area-stacked-area-width: var(--size-hon-semantic-size-260);
  --size-hon-components-statistics-card-chart-area-stacked-area-height: var(--size-hon-semantic-size-200);
  --size-hon-components-statistics-card-chart-area-base-chart-y-axis-label-percentage-width: var(--size-hon-semantic-size-28);
  --size-hon-components-statistics-card-chart-area-base-chart-y-axis-label-value-width: var(--size-hon-semantic-size-36);
  --size-hon-components-statistics-card-chart-area-base-chart-y-axis-height: var(--size-hon-semantic-size-212);
  --size-hon-components-statistics-card-chart-area-level-bar-chart-height: var(--size-hon-semantic-size-16);
  --size-hon-components-statistics-card-chart-area-bar-chart-column-width: var(--size-hon-semantic-size-16);
  --size-hon-components-info-box-min-width: var(--dimension-hon-primitive-dimension-328);
  --size-hon-components-bottom-sheet-modal-handle-height: var(--size-hon-semantic-size-4);
  --size-hon-components-bottom-sheet-modal-handle-width: var(--size-hon-semantic-size-40);
  --size-hon-components-bottom-sheet-navbar-handle-height: var(--size-hon-semantic-size-4);
  --size-hon-components-bottom-sheet-navbar-handle-width: var(--size-hon-semantic-size-40);
  --size-hon-components-bottom-sheet-persistent-content-list-item-value-size: var(--size-hon-semantic-size-56);
  --size-hon-components-side-drawer-min-width: var(--size-hon-semantic-size-258);
  --size-hon-components-side-drawer-min-height: var(--size-hon-semantic-size-780);
  --size-hon-components-popup-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-popup-main-container-media-min-width: var(--size-hon-semantic-size-296);
  --size-hon-components-popup-main-container-media-min-height: var(--size-hon-semantic-size-222);
  --size-hon-components-code-input-field-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-code-input-field-single-input-big-width: var(--size-hon-semantic-size-44);
  --size-hon-components-code-input-field-single-input-big-height: var(--size-hon-semantic-size-48);
  --size-hon-components-avatar-size: var(--size-hon-semantic-size-40);
  --size-hon-components-editorial-card-small-min-width: var(--size-hon-semantic-size-285);
  --size-hon-components-editorial-card-small-height: var(--size-hon-semantic-size-192);
  --size-hon-components-editorial-card-big-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-page-control-active-width: var(--size-hon-semantic-size-16);
  --size-hon-components-page-control-active-height: var(--size-hon-semantic-size-8);
  --size-hon-components-page-control-inactive-size: var(--size-hon-semantic-size-8);
  --size-hon-components-scroll-bar-track-min-height: var(--size-hon-semantic-size-644);
  --size-hon-components-scroll-bar-height: var(--size-hon-semantic-size-64);
  --size-hon-components-horizontal-slider-min-width: var(--size-hon-semantic-size-328);
  --size-hon-components-horizontal-slider-progress-unit-size: var(--size-hon-semantic-size-24);
  --size-hon-components-horizontal-slider-progress-height: var(--size-hon-semantic-size-8);
  --size-hon-components-stepper-md-width: var(--size-hon-semantic-size-152);
  --size-hon-components-horizontal-slider-step-indicator-width: var(--dimension-hon-semantic-border-weight-1);
  --size-hon-components-horizontal-slider-step-indicator-height: var(--size-hon-semantic-size-8);
  --size-hon-components-button-power-btn-size: var(--size-hon-semantic-size-128);
  --size-hon-components-scroll-bar-width: var(--size-hon-semantic-size-4);
  --size-hon-components-horizontal-slider-progress-target: var(--size-hon-semantic-size-48);
  --size-hon-components-segmented-control-separator-height: var(--size-hon-semantic-size-20);
  --size-hon-components-segmented-control-min-width: var(--size-hon-semantic-size-304);
  --size-hon-components-segmented-control-segment-height: var(--size-hon-semantic-size-32);
  --size-hon-components-code-input-field-single-input-small-width: var(--size-hon-semantic-size-32);
  --size-hon-components-code-input-field-single-input-small-height: var(--size-hon-semantic-size-36);
}