/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --space-hon-semantic-spacing-none: var(--dimension-hon-primitive-dimension-0);
  --space-hon-semantic-spacing-2: var(--dimension-hon-primitive-dimension-2);
  --space-hon-semantic-spacing-4: var(--dimension-hon-primitive-dimension-4);
  --space-hon-semantic-spacing-6: var(--dimension-hon-primitive-dimension-6);
  --space-hon-semantic-spacing-8: var(--dimension-hon-primitive-dimension-8);
  --space-hon-semantic-spacing-10: var(--dimension-hon-primitive-dimension-10);
  --space-hon-semantic-spacing-12: var(--dimension-hon-primitive-dimension-12);
  --space-hon-semantic-spacing-16: var(--dimension-hon-primitive-dimension-16);
  --space-hon-semantic-spacing-20: var(--dimension-hon-primitive-dimension-20);
  --space-hon-semantic-spacing-24: var(--dimension-hon-primitive-dimension-24);
  --space-hon-semantic-spacing-28: var(--dimension-hon-primitive-dimension-28);
  --space-hon-semantic-spacing-32: var(--dimension-hon-primitive-dimension-32);
  --space-hon-semantic-spacing-44: var(--dimension-hon-primitive-dimension-44);
  --space-hon-semantic-spacing-60: var(--dimension-hon-primitive-dimension-60);
  --space-hon-components-button-action-btn-sm-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-button-action-btn-sm-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-button-action-btn-sm-inner-y: var(--space-hon-semantic-spacing-4);
  --space-hon-components-button-action-btn-md-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-button-action-btn-md-show-icon-false-inner-y: var(--space-hon-semantic-spacing-10);
  --space-hon-components-button-action-btn-md-show-icon-false-inner-x: var(--space-hon-semantic-spacing-24);
  --space-hon-components-button-action-btn-md-show-icon-true-inner-y: var(--space-hon-semantic-spacing-10);
  --space-hon-components-button-action-btn-md-show-icon-true-padding-left: var(--space-hon-semantic-spacing-16);
  --space-hon-components-button-action-btn-md-show-icon-true-padding-right: var(--space-hon-semantic-spacing-24);
  --space-hon-components-radio-checkbox-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-radio-checkbox-label-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-radio-checkbox-state-layer-padding: var(--space-hon-semantic-spacing-8);
  --space-hon-components-badge-label-inner-x: var(--space-hon-semantic-spacing-8);
  --space-hon-components-badge-label-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-badge-label-inner-y: var(--space-hon-semantic-spacing-2);
  --space-hon-components-chip-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-chip-no-icon-inner-x: var(--space-hon-semantic-spacing-8);
  --space-hon-components-item-badge-inner-y: var(--space-hon-semantic-spacing-2);
  --space-hon-components-item-badge-padding-right: var(--space-hon-semantic-spacing-4);
  --space-hon-components-item-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-snackbar-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-item-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-snackbar-icon-padding-right: var(--space-hon-semantic-spacing-none);
  --space-hon-components-snackbar-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-snackbar-button-inner-y: var(--space-hon-semantic-spacing-6);
  --space-hon-components-snackbar-button-inner-x: var(--space-hon-semantic-spacing-none);
  --space-hon-components-wheel-picker-row-inner-x-selected: var(--space-hon-semantic-spacing-none);
  --space-hon-components-wheel-picker-row-inner-x-unselected: var(--space-hon-semantic-spacing-60);
  --space-hon-components-program-item-tag-inner-x: var(--space-hon-semantic-spacing-8);
  --space-hon-components-program-item-inner-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-program-item-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-program-item-description-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-program-item-badge-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-text-field-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-card-item-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-card-item-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-card-item-text-gap: var(--space-hon-semantic-spacing-none);
  --space-hon-components-item-message-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-item-message-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-item-list-gap: var(--space-hon-semantic-spacing-none);
  --space-hon-components-divider-inner-x-md: var(--space-hon-semantic-spacing-12);
  --space-hon-components-toggle-inner-x: var(--space-hon-semantic-spacing-2);
  --space-hon-components-toggle-state-layer-padding-default: var(--space-hon-semantic-spacing-8);
  --space-hon-components-toggle-state-layer-padding-pressed: var(--space-hon-semantic-spacing-6);
  --space-hon-components-promo-banner-button-state-layer-padding: var(--space-hon-semantic-spacing-8);
  --space-hon-components-promo-banner-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-promo-banner-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-promo-banner-text-gap: var(--space-hon-semantic-spacing-none);
  --space-hon-components-loader-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-loader-gap: var(--space-hon-semantic-spacing-none);
  --space-hon-components-wheel-picker-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-wheel-picker-inner-y: var(--space-hon-semantic-spacing-none);
  --space-hon-components-wheel-picker-gap: var(--space-hon-semantic-spacing-none);
  --space-hon-components-text-field-text-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-text-field-text-inner-y: var(--space-hon-semantic-spacing-8);
  --space-hon-components-text-field-icon-padding-left: var(--space-hon-semantic-spacing-12);
  --space-hon-components-text-field-icon-padding-right: var(--space-hon-semantic-spacing-none);
  --space-hon-components-text-field-icon-inner-y: var(--space-hon-semantic-spacing-none);
  --space-hon-components-text-field-supporting-text-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-time-slots-panel-slot-padding: var(--space-hon-semantic-spacing-4);
  --space-hon-components-time-slots-panel-slot-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-time-slots-panel-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-time-slots-panel-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-time-slots-panel-button-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-appliance-card-padding: var(--space-hon-semantic-spacing-8);
  --space-hon-components-bottom-bar-item-inner-y: var(--space-hon-semantic-spacing-8);
  --space-hon-components-bottom-bar-item-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-bottom-bar-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-top-bar-main-gap: var(--space-hon-semantic-spacing-24);
  --space-hon-components-top-bar-page-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-top-bar-progress-bar-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-top-bar-dropdown-menu-inner-y: var(--space-hon-semantic-spacing-none);
  --space-hon-components-top-bar-dropdown-menu-padding-left: var(--space-hon-semantic-spacing-12);
  --space-hon-components-top-bar-dropdown-menu-padding-right: var(--space-hon-semantic-spacing-10);
  --space-hon-components-progress-stepper-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-program-item-message-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-program-item-message-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-program-item-message-inner-y: var(--space-hon-semantic-spacing-8);
  --space-hon-components-chip-with-icon-padding-left: var(--space-hon-semantic-spacing-4);
  --space-hon-components-chip-with-icon-padding-right: var(--space-hon-semantic-spacing-8);
  --space-hon-components-search-field-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-search-field-search-bar-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-search-field-search-bar-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-tabs-scrollable-padding-left: var(--space-hon-semantic-spacing-16);
  --space-hon-components-tabs-item-inner-y: var(--space-hon-semantic-spacing-16);
  --space-hon-components-tabs-item-inner-x: var(--space-hon-semantic-spacing-8);
  --space-hon-components-statistics-card-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-statistics-card-empty-state-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-statistics-card-empty-state-container-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-statistics-card-empty-state-container-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-statistics-card-empty-state-container-inner-y: var(--space-hon-semantic-spacing-20);
  --space-hon-components-statistics-card-title-gap: var(--space-hon-semantic-spacing-2);
  --space-hon-components-statistics-card-filters-chips-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-statistics-card-filters-text-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-statistics-card-chart-area-base-chart-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-statistics-card-chart-area-pie-chart-padding: var(--space-hon-semantic-spacing-32);
  --space-hon-components-statistics-card-chart-area-base-chart-y-axis-label-padding-right: var(--space-hon-semantic-spacing-12);
  --space-hon-components-statistics-card-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-statistics-card-chart-area-level-bar-chart-element-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-statistics-card-chart-area-level-bar-chart-level-bar-gap: var(--space-hon-semantic-spacing-24);
  --space-hon-components-statistics-card-chart-area-base-chart-x-axis-padding-left: var(--space-hon-semantic-spacing-44);
  --space-hon-components-statistics-card-chart-area-base-chart-x-axis-padding-top: var(--space-hon-semantic-spacing-8);
  --space-hon-components-statistics-card-chart-area-base-chart-x-axis-padding-bottom: var(--space-hon-semantic-spacing-none);
  --space-hon-components-statistics-card-chart-area-base-chart-x-axis-padding-right: var(--space-hon-semantic-spacing-none);
  --space-hon-components-info-box-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-info-box-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-button-action-btn-sm-show-icon-true-inner-y: var(--space-hon-semantic-spacing-4);
  --space-hon-components-button-action-btn-sm-show-icon-true-padding-left: var(--space-hon-semantic-spacing-8);
  --space-hon-components-button-action-btn-sm-show-icon-true-padding-right: var(--space-hon-semantic-spacing-12);
  --space-hon-components-button-action-btn-sm-show-icon-false-inner-y: var(--space-hon-semantic-spacing-6);
  --space-hon-components-button-action-btn-sm-show-icon-false-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-bottom-sheet-modal-content-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-modal-content-padding-bottom: var(--space-hon-semantic-spacing-24);
  --space-hon-components-bottom-sheet-modal-content-inner-x: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-modal-handle-inner-y: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-navbar-item-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-navbar-item-text-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-navbar-item-badge-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-bottom-sheet-navbar-handle-inner-y: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-persistent-inner-x: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-persistent-content-list-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-bottom-sheet-persistent-content-list-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-bottom-sheet-persistent-content-list-item-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-bottom-sheet-persistent-help-text-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-bottom-sheet-persistent-action-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-bottom-sheet-persistent-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-side-drawer-actions-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-side-drawer-actions-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-side-drawer-content-inner-y: var(--space-hon-semantic-spacing-16);
  --space-hon-components-side-drawer-content-gap: var(--space-hon-semantic-spacing-24);
  --space-hon-components-side-drawer-content-text-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-button-action-btn-md-loading-inner-y: var(--space-hon-semantic-spacing-12);
  --space-hon-components-button-action-btn-md-loading-inner-x: var(--space-hon-semantic-spacing-24);
  --space-hon-components-button-action-btn-sm-loading-inner-y: var(--space-hon-semantic-spacing-6);
  --space-hon-components-button-action-btn-sm-loading-inner-x: var(--space-hon-semantic-spacing-12);
  --space-hon-components-side-drawer-item-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-side-drawer-item-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-popup-main-container-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-popup-main-container-main-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-popup-header-padding: var(--space-hon-semantic-spacing-8);
  --space-hon-components-code-input-field-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-popup-main-container-content-gap: var(--space-hon-semantic-spacing-12);
  --space-hon-components-page-control-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-editorial-card-text-container-padding: var(--space-hon-semantic-spacing-12);
  --space-hon-components-editorial-card-text-container-gap: var(--space-hon-semantic-spacing-4);
  --space-hon-components-horizontal-slider-padding: var(--space-hon-semantic-spacing-16);
  --space-hon-components-horizontal-slider-text-container-gap: var(--space-hon-semantic-spacing-8);
  --space-hon-components-horizontal-slider-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-stepper-sm-gap: var(--space-hon-semantic-spacing-16);
  --space-hon-components-divider-inner-x-lg: var(--space-hon-semantic-spacing-16);
  --space-hon-components-bottom-sheet-modal-content-padding-top: var(--space-hon-semantic-spacing-8);
  --space-hon-components-horizontal-slider-state-layer-padding: var(--space-hon-semantic-spacing-8);
  --space-hon-components-segmented-control-padding: var(--space-hon-semantic-spacing-2);
  --space-hon-components-segmented-control-segment-inner-x: var(--space-hon-semantic-spacing-12);
}