/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --space-hon-components-snackbar-icon-padding-right: var(--dimension-hon-sem-spacing-none);
  --space-hon-components-snackbar-button-inner-y: var(--dimension-hon-sem-spacing-6);
  --space-hon-components-snackbar-button-inner-x: var(--dimension-hon-sem-spacing-none);
  --space-hon-components-item-message-padding: var(--dimension-hon-sem-spacing-12);
  --space-hon-components-item-message-gap: var(--dimension-hon-sem-spacing-12);
  --space-hon-components-item-list-gap: var(--dimension-hon-sem-spacing-none);
}