/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --string-hon-pri-font-typeface: "Lato";
  --string-hon-pri-font-weight-regular: "Regular";
  --string-hon-pri-font-weight-bold: "Bold";
  --string-hon-pri-font-weight-black: "Black";
  --string-hon-sem-font-title-xl-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-title-lg-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-title-lg-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-title-xl-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-title-md-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-title-md-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-title-sm-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-title-sm-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-title-xs-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-title-xs-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-heading-md-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-heading-md-weight: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-xl-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-body-xl-weight-regular: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-xl-weight-bold: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-link-md-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-link-md-weight: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-link-sm-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-link-sm-weight: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-link-xs-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-link-xs-weight: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-button-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-functional-badge-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-functional-navbar-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-functional-navbar-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-functional-badge-weight: var(--string-hon-pri-font-weight-black);
  --string-hon-sem-font-button-weight: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-heading-sm-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-heading-sm-weight: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-lg-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-body-lg-weight-regular: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-lg-weight-bold: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-body-md-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-body-md-weight-regular: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-md-weight-bold: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-body-sm-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-body-sm-weight-regular: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-sm-weight-bold: var(--string-hon-pri-font-weight-bold);
  --string-hon-sem-font-body-xs-typeface: var(--string-hon-pri-font-typeface);
  --string-hon-sem-font-body-xs-weight-regular: var(--string-hon-pri-font-weight-regular);
  --string-hon-sem-font-body-xs-weight-bold: var(--string-hon-pri-font-weight-bold);
}